<!DOCTYPE html>
<html>
<head>
    <title>添加计划</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>This is add task page</h1>
<input id="name" placeholder="请输入任务名称"/>
<textarea placeholder="请输入需要">

</textarea>
<input id="gender" placeholder="请输入用户性别"/>
<button id="adduserbtn">添加一个用户</button>

<script src='/javascripts/plugins/jquery.min.js'></script>
<script src='/javascripts/views/user/add.js'></script>
</body>
</html>