<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>世茂2.5.0接口文档概要</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">     
    <style type="text/css">
      .list-group-item{
        padding-bottom: 0px
      }
    </style>
  </head>
  <body ng-app="myApp" ng-controller="myAppCtrl">

    <div class="container">      
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-danger" ng-repeat="m in apiDocData">
          <div class="panel-heading" role="tab" id={{"heading"+m.id}}>
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href={{"#collapse"+m.id}} aria-expanded="true" aria-controls={{"collapse"+m.id}}>
                {{m.name}}
              </a>
            </h4>
          </div>
          <div id={{"collapse"+m.id}} class="panel-collapse collapse in" role="tabpanel" aria-labelledby={{"heading"+m.id}}>
            <div class="panel-body">
              
              <div class="panel panel-info" ng-repeat="page in m.child">
                <div class="panel-heading" style="padding: 1px 10px"><h5>{{page.name}}</h5></div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="ap in page.child">
                      <p>
                        <span class="text-success">接口描述&nbsp;:&nbsp;{{ap.name}}&nbsp; &nbsp;||&nbsp;&nbsp; </span>
                        <span class="text-danger">请求参数&nbsp;:&nbsp;{{ap.req}}&nbsp; &nbsp;||&nbsp;&nbsp; </span>
                        <span class="text-danger">返回数据&nbsp;:&nbsp;{{ap.res}}</span>
                      </p>
                    </li>
                  </ul>
                </div>
              </div>

             
            </div>
          </div>
        </div>

</div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://shimao.admin.dev/ace/js/aab30649fcbab646916b4c3c51d3bf27.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript">
    var app=angular.module("myApp",[]);
    app.controller('myAppCtrl',function($scope){ 
       $scope.apiDocData=[
         {id:"first",name:"会员中心(微信)",type:"微信页面",url:"",des:"",child:[
            {name:"会员中心",type:"微信页面",url:"",des:"",child:[
              {name:"获取我的积分我的卡劵",type:"微信页面",url:"",req:"无",res:"积分数,卡劵数"}                    
            ]},
            {name:"我的积分",type:"微信页面",url:"",des:"",child:[
              {name:"分页获取我的积分收入",type:"微信页面",url:"",req:"页码,每页记录数",res:"可用积分,积分收入日期,类型,获取的积分数"},
              {name:"分页获取我的积分支出",type:"微信页面",url:"",req:"页码,每页记录数",res:"可用积分,积分支出日期,类型,支出的积分数"}            
            ]},
            {name:"赚积分",type:"微信页面",url:"",des:"",child:[
              {name:"赚取积分活动列表",type:"微信页面",url:"",req:"无",res:"可用积分,活动名称,加多少积分,"}
            ]},
            {name:"用户卡劵列表",type:"微信页面",url:"",des:"",child:[
              {name:"分页获取用户卡劵列表",type:"微信页面",url:"",req:"卡劵状态(待使用,已使用,已过期),页码,每页记录数",res:"logo,类型,名称,有效时间区间,店铺"},             
            ]},
            {name:"卡劵详情",type:"微信页面",url:"",des:"",child:[
               {name:"卡劵详情",type:"微信页面",url:"",req:"卡劵id",res:"商户logo,名称,卡劵名,有效区间,核销方式,使用楼盘数,二维码,序列号"},             
            ]},
            {name:"优惠劵详情",type:"微信页面",url:"",des:"",child:[
              {name:"优惠券详情页",type:"微信页面",url:"",req:"优惠券id",res:"名称,使用须知,客服,使用限制"}, 
            ]},
            {name:"门店详情",type:"微信页面",url:"",des:"",child:[
              {name:"门店详情",type:"微信页面",url:"",req:"卡劵id",res:"门店名称,地址,电话"} 
            ]},
            {name:"领取卡劵",type:"微信页面",url:"",des:"",child:[             
              {name:"领取接口",type:"微信页面",url:"",req:"卡劵id",res:"errcode errmsg"},
              {name:"赠送接口",type:"微信页面",url:"",req:"卡劵id",res:"赠送配置参数"}
            ]}
         ]},
         {id:"second",name:"积分商城(微信)",type:"微信页面",url:"",des:"",child:[
            {name:"商品列表",type:"微信页面",url:"",des:"",child:[
              {name:"商城首页",type:"微信页面",url:"",req:"城市",res:"可用积分,当前定位城市,商品名称,需要积分"},
              {name:"兑换",type:"微信页面",url:"",req:"商品id",res:"errcode errmsg"}
            ]},
            {name:"城市选择",type:"微信页面",url:"",des:"",child:[
              {name:"获取所有城市",type:"微信页面",url:"",req:"无",res:"名称,id,是否是热门城市,所属大区"}               
            ]}
         ]},
         {id:"third",name:"核销管理(微信)",type:"微信页面",url:"",des:"",child:[
            {name:"核销提示页",type:"微信页面",url:"",des:"",child:[
              {name:"核销",type:"微信页面",url:"",req:"卡劵id",res:"errcode errmsg"}              
              ]},
            {name:"核销",type:"微信页面",url:"",des:"",child:[
              {name:"核销",type:"微信页面",url:"",req:"卡劵id",res:"跳转核销失败页面"}  
            ]}            
         ]},
         {id:"fourth",name:"优惠活动(管理)",type:"微信页面",url:"",des:"",child:[
            {name:"积分活动",type:"微信页面",url:"",des:"",child:[
              {name:"积分规则列表",type:"微信页面",url:"",req:"页码,记录数",res:"id,类型,赠送积分,所属楼盘"},
              {name:"新增积分规则",type:"微信页面",url:"",req:"类型,所属楼盘,赠送积分",res:"errcode errmsg"},
              {name:"查询积分规则详情",type:"微信页面",url:"",req:"id",res:"类型,所属楼盘,赠送积分"},
              {name:"修改积分规则",type:"微信页面",url:"",req:"id,类型,所属楼盘,赠送积分",res:"errcode errmsg"},
              {name:"删除",type:"微信页面",url:"",req:"id",res:"errcode errmsg"}
            ]},
            {name:"商品管理",type:"微信页面",url:"",des:"",child:[
              {name:"商品列表",type:"微信页面",url:"",req:"页码,记录数,商品名",res:"商品名称,兑换量,排序,状态"},
              {name:"单个删除",type:"微信页面",url:"",req:"id",res:"errcode errmsg"},
              {name:"批量删除",type:"微信页面",url:"",req:"ids",res:"errcode errmsg"},
              {name:"批量上下架",type:"微信页面",url:"",req:"ids,状态",res:"errcode errmsg"},
              {name:"添加商品",type:"微信页面",url:"",req:"商品名称,兑换积分,排序,卡劵id",res:"errcode errmsg"},
              {name:"查询单个商品",type:"微信页面",url:"",req:"id",res:"商品名称,兑换量,排序,卡劵"},
              {name:"查询卡劵",type:"微信页面",url:"",req:"页码,记录数,卡劵名",res:"id,名称,类型,使用平台,有效期,库存数"}
            ]},
            {name:"兑换记录",type:"微信页面",url:"",des:"",child:[
              {name:"记录列表",type:"微信页面",url:"",req:"页码,记录数,昵称,兑换时间",res:"卡劵编号,昵称,商品名称,兑换时间,状态"},
              {name:"导出",type:"微信页面",url:"",req:"页码,记录数,昵称,兑换时间",res:"下载文件"}
            ]},
            {name:"卡劵列表",type:"微信页面",url:"",des:"",child:[
              {name:"列表接口",type:"微信页面",url:"",req:"页码,记录数",res:"id,名称,类型,所属平台,有效期,库存,已发放,已核销,审核状态"},
              {name:"删除",type:"微信页面",url:"",req:"id",res:"errcode errmsg"},
              {name:"增加库存",type:"微信页面",url:"",req:"id,库存数",res:"errcode errmsg"}
            ]},
            {name:"直接领取列表",type:"微信页面",url:"",des:"",child:[
              {name:"列表接口",type:"微信页面",url:"",req:"页码,记录数",res:"id,标题,类型,名称,卡劵类型,有效领取时间"},
              {name:"删除",type:"微信页面",url:"",req:"id",res:"errcode errmsg"}              
            ]},
            {name:"手动派发列表",type:"微信页面",url:"",des:"",child:[
              {name:"列表接口",type:"微信页面",url:"",req:"页码,记录数",res:"卡劵名,接受者昵称,用户编号,编号,派送时间,使用期限,状态,平台类型"} 
            ]},
            {name:"领取记录",type:"微信页面",url:"",des:"",child:[
              {name:"记录列表",type:"微信页面",url:"",req:"id,卡劵编号,领取用户",res:"卡劵Id,编号,领取用户,领取时间,领取来源,核销状态,核销人员,核销门店"},
              {name:"导出领取记录",type:"微信页面",url:"",req:"id,卡劵编号,领取用户",res:"下载文件地址"}              
            ]},
            {name:"新增卡劵",type:"微信页面",url:"",des:"",child:[
              {name:"新增卡劵接口",type:"微信页面",url:"",req:"名称,类型,有效期类型,开始时间,结束时间,优惠金额,最低消费金额,卡劵颜色,卡劵logo,使用说明,客服电话,使用楼盘类型,楼盘ids,数量,领取限制,可否赠送,销劵方式,引导提示,是否同步微信卡包,自定义入口名称1,链接1,tip1,自定义入口名称2,链接2,tip2,",res:"errcode errmsg"},
              {name:"查询卡劵详情",type:"微信页面",url:"",req:"id,name,title",res:"名称,类型,有效期类型,开始时间,结束时间,优惠金额,最低消费金额,卡劵颜色,卡劵logo,使用说明,客服电话,使用楼盘类型,楼盘ids,数量,领取限制,可否赠送,销劵方式,引导提示,是否同步微信卡包,自定义入口名称1,链接1,tip1,自定义入口名称2,链接2,tip2"},
              {name:"编辑卡劵",type:"微信页面",url:"",req:"名称,类型,有效期类型,开始时间,结束时间,优惠金额,最低消费金额,卡劵颜色,卡劵logo,使用说明,客服电话,使用楼盘类型,楼盘ids,数量,领取限制,可否赠送,销劵方式,引导提示,是否同步微信卡包,自定义入口名称1,链接1,tip1,自定义入口名称2,链接2,tip2",res:"errcode errmsg"}
            ]},

            {name:"添加直接领取",type:"微信页面",url:"",des:"",child:[
              {name:"添加直接领取接口",type:"微信页面",url:"",req:"标题,图片,开始时间,结束时间,活动类型,管理卡劵id,信息摘要",res:"errcode errmsg"},
              {name:"编辑",type:"微信页面",url:"",req:"id,标题,图片,开始时间,结束时间,活动类型,管理卡劵id,信息摘要",res:"errcode errmsg"},
              {name:"查询详情",type:"微信页面",url:"",req:"id",res:"标题,图片,开始时间,结束时间,活动类型,管理卡劵id,信息摘要"}              
            ]},
            {name:"扫码记录",type:"微信页面",url:"",des:"",child:[
              {name:"扫码记录列表",type:"微信页面",url:"",req:"id,页码,记录数,时间类型,开始时间,结束时间",res:"关注总数,扫码总数,微信昵称,是否关注,关注时间,扫描时间"}              
            ]},
            {name:"手动派发添加",type:"微信页面",url:"",des:"",child:[
              {name:"派发卡劵",type:"微信页面",url:"",req:"派发模式,用户ids,标签ids,区域id,楼盘id 卡劵id",res:"errcode errmsg"}
            ]}            
         ]},
         {id:"fivth",name:"核销管理(管理)",type:"微信页面",url:"",des:"",child:[
            {name:"核销员管理",type:"微信页面",url:"",des:"",child:[
                {name:"核销员列表",type:"微信页面",url:"",req:"页码,记录数,核销员,核销楼盘,微信绑定",res:"核销员,所在楼盘,微信绑定,微信昵称,id"},
                {name:"取消授权",type:"微信页面",url:"",req:"id",res:"errcode errmsg"},
                {name:"新增核销员",type:"微信页面",url:"",req:"用户ids",res:"errcode errmsg"}
            ]},
            {name:"劵码核销",type:"微信页面",url:"",des:"",child:[
              {name:"查询核销码",type:"微信页面",url:"",req:"核销码",res:"编号,活动名称,id"},
              {name:"核销",type:"微信页面",url:"",req:"id",res:"errcode errmsg"}
            ]},
            {name:"核销记录",type:"微信页面",url:"",des:"",child:[
              {name:"核销记录列表",type:"微信页面",url:"",req:"来源,核销员,楼盘.时间区间,兑换码,卡劵名,页码,记录数",res:"时间,编号,来源,活动名称,核销楼盘,核销员"}
            ]}            
         ]}
       ]
     });
   
  </script>

  </body>
</html>
