<!DOCTYPE html>
<html>
<head>
    <title>This is my index.html</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/javascripts/plugins/bootstrap/css/bootstrap.min.css"/>
    <base href="" target="_blank">
</head>
<body>
<div class="container text-center">
    <h1>They are my example</h1>
    <p class="lead"><a href="/user/tologin">user login</a></p>
    <p class="lead"><a href="/user/toadd">user add </a></p>
    <p class="lead"><a href="/user/users">user list </a></p>
    <p class="lead"><a href="/plan/addpage">plan add </a></p>
    <p class="lead"><a href="/plan/plans">plan list </a></p>


</div>

</body>
</html>
