<!DOCTYPE html>
<html>
<head>
    <title>我的界面</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>This is my.ejs</h1>
<p>Welcome to My ejs wolrd</p>
<input id="name" placeholder="请输入用户名称"/>
<input id="age" placeholder="请输入用户年龄" />
<p id="show"></p>

<button id="adduserbtn">添加一个用户</button>

<button id="queryuserbtn">查询用户</button>



<script src='/javascripts/plugins/jquery.min.js'></script>
<script src='/javascripts/views/my.js'></script>
</body>
</html>