<!DOCTYPE html>
<html>
<head>
    <title>我的界面</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>This is my.ejs</h1>
<p>Welcome to My ejs wolrd</p>
<input id="name" placeholder="请输入用户名称"/>
<button id="adduserbtn">添加一个用户</button>

<script src='/javascripts/plugins/jquery.min.js'></script>
<script src='/javascripts/views/user/add.js'></script>
</body>
</html>