<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>dataTable作战地图</title>
    <link rel="stylesheet" type="text/css" href="/javascripts/plugins/dataTable/css/jquery.dataTables.min.css">
</head>
<body>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>用户id</th>
            <th>名字</th>
            <th>性别</th>
            <th>年龄</th>
            <th>最后登录</th>
            <th>创建日期</th>
            <th>操作</th>
        </tr>
    </thead>

</table>

<div class="text-center">
    <textarea rows="10" cols="40" id="selectContent"></textarea>
</div>

<script type="text/javascript" src="/javascripts/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/dataTable/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/views/user/users.js"></script>
</body>
</html>