<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>bootstrap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/javascripts/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>显示计划</h4>
        </div>
        <div class="panel-body">
           <ol id="planol">

           </ol>
        </div>
    </div>

</div>
<script type="text/javascript" src="/javascripts/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/views/planmap/plan.js"></script>
</body>
</html>