<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>庞孟臣半年工作学习计划</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/javascripts/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>工作学习计划</h4>
        </div>
        <div class="panel-body">
            <h4 style="text-indent: 30px">由于目前负责的世茂前端任务较为轻松,大多是修修改改,技能和构建系统上没有突破性的进展,另一方面为了由于自身的懒惰,没有补充新的知识
                尝试新的技术,故此,特制定一个为期半年的工作学习计划,目的为掌握前沿技术,完善自身发展.不断提高自己解决问题的能力,克服自身缺点.
                此计划包含四项分别为,技能提升,系统构建,技术分享,同事联络
            </h4>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                系统构建
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            系统构建旨在为了提高自己站在系统整体的高度来搭建系统,可以很好的锻炼一个人的整体思想.在好的系统上开发功能效率高,代码复用率高.代码耦合度低,依赖弱.
                            目前比较流行的是vue angular 和react,经过多番考察我觉得使用一个vue的开源框架来重构世茂地产后台的部分功能.开发方式,使用虚拟数据构建系统.
                            使用的技术栈有webpack vue及相关组件,在保证世茂任务正常进行的情况下将由我一人完成整个系统搭建
                            <p>开源框架:暂定</p>
                            <p>重构的部分功能:</p>
                            <ul class="list-group">
                                <li class="list-group-item"><label><input type="checkbox" id=""/>菜单,权限</label></li>
                                <li class="list-group-item"><label><input type="checkbox" id=""/>权限</label></li>
                                <li class="list-group-item"><label><input type="checkbox" id=""/>运营设置</label></li>
                                <li class="list-group-item"><label><input type="checkbox" id=""/>楼盘管理</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                技能提升
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                技术分享
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                同事联络
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/views/plan/workstudy.js"></script>
</body>
</html>