<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>bootstrap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/javascripts/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/views/tangrampuzzle/index.css">
</head>

<body>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>七巧板</h4>
        </div>
        <div class="panel-body">
            <div id="puzzlecontain">
                <div class="drop" draggable="" id="one">1</div>
                <div class="drop" id="two">2</div>
                <div class="drop" id="three">3</div>
                <div class="drop" id="four">4</div>
                <div class="drop" id="five">5</div>
                <div class="drop" id="six">6</div>
                <div class="drop" id="seven">7</div>
            </div>
        </div>
    </div>
</div>

</body>

<script src="/javascripts/plugins/jquery.threedubmedia/jquery/jquery.js"></script>
<script src="/javascripts/views/tangrampuzzle/index.js"></script>
</html>