<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>bootstrap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/javascripts/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>添加计划</h4>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>用户名:</label>
                        <input class="form-control" id="username" type="text" placeholder="请输入用户名"/>
                    </div>

                    <div class="form-group">
                        <label>您的计划(逗号分隔):</label>
                        <input class="form-control" id="plancontent" type="text" placeholder="请输入您的计划"/>
                    </div>

                    <div class="row text-center"><button id="submitbtn" class="btn btn-info" type="button">提交</button></div>


                </form>

            </div>
        </div>


    </div>
<script type="text/javascript" src="/javascripts/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/views/planmap/add.js"></script>
</body>
</html>