<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>dataTable作战地图</title>
    <link rel="stylesheet" type="text/css" href="/javascripts/plugins/dataTable/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/plugins/dataTable/Select-1.2.0/css/select.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/plugins/dataTable/Buttons-1.2.0/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/plugins/dataTable/Scroller-1.4.2/css/scroller.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/plugins/dataTable/FixedColumns-3.2.2/css/fixedColumns.dataTables.min.css">
    <style type="text/css">
        #events {
            margin-bottom: 1em;
            padding: 1em;
            background-color: #f6f6f6;
            border: 1px solid #999;
            border-radius: 3px;
            height: 100px;
            overflow: auto;
        }
        .text-center{text-align: center;}
        div.dataTables_wrapper {
            width: 75%;
            margin: 0 auto;
        }
        table.dataTable thead th, table.dataTable thead td{
            padding:10px 35px;
        }
        .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td{
            overflow: hidden;

        }
    </style>
</head>
<body>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr id="theadtr"><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th><th>28</th><th>29</th><th>30</th><th>31</th></tr>
    </thead>
    <tfoot>
    <tr id="tfoottr"><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th><th>28</th><th>29</th><th>30</th><th>31</th></tr>
    </tfoot>
    <tbody id="tbody"><tr><td>Tom</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td></tr><tr><td>Kive</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td></tr><tr><td>Di</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td></tr><tr><td>Ws</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td></tr><tr><td>Sd</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td></tr><tr><td>Gs</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td><td>未安排</td></tr></tbody>
</table>

<div class="text-center">
    <textarea rows="10" cols="40" id="selectContent"></textarea>
</div>

<script type="text/javascript" src="/javascripts/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/dataTable/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/dataTable/Buttons-1.2.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/dataTable/Scroller-1.4.2/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/dataTable/FixedColumns-3.2.2/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/dataTable/Select-1.2.0/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="/javascripts/views/planmap/index.js"></script>
</body>
</html>