<!DOCTYPE html>
<html>
<head>
    <title>添加兴趣</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>This is add interest page</h1>
<input id="name" placeholder="请输入任务名称"/>
<textarea id="doreason" placeholder="请输入需要培养的理由" rows="20" cols="30"></textarea>
<textarea id="donotreason" placeholder="请输入不需要培养的理由"  rows="20" cols="30"></textarea>

<input id="timelevel" placeholder="请输入时间紧急等级"/>
<input id="importlevel" placeholder="请输入兴趣重要等级"/>

<button id="addbtn">确定添加</button>

<script src='/javascripts/plugins/jquery.min.js'></script>
<script src='/javascripts/views/interest/add.js'></script>
</body>
</html>