<!DOCTYPE html>
<html>
<head>
    <title>修改用户</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>修改用户</h1>
<p>Welcome to My ejs wolrd</p>
<input id="name" placeholder="请输入用户名称"/>
<input id="age" placeholder="请输入用户年龄"/>
<input id="gender" placeholder="请输入用户性别"/>
<button id="edituserbtn">确定修改</button>

<script src='/javascripts/plugins/jquery.min.js'></script>
<script src='/javascripts/plugins/tool.js'></script>
<script src='/javascripts/views/user/edit.js'></script>
</body>
</html>